<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
      body {
        font-size: 10px !important;
      }
    </style>
  </head>


  <body>
    <div>
      <img src="http://localhost:9016/carteo/utilies/#encabezado" alt="epker" style="width: 100%" />
    </div>

    <div id="contenido" style="height: 100%; width: 100%; margin: 0 auto; padding: 10px" >
        
          <div style="margin-top: 50px; margin-bottom: 50px;">
            <p style="margin: 0.3rem"><b>CLIENTE: </b><span>#001</span></p>
            <p style="margin: 0.3rem"><b>DOMICILIO</b> <span>#002</span></p>
            <p style="margin: 0.3rem"><b>COLONIA:</b> <span>#003</span></p>
            <p style="margin: 0.3rem"><b>POBLACIÓN:</b> <span>#004</span></p>
            <p style="margin: 0.3rem"><b>C.P:</b> <span>#005</span></p>
          </div>
    
          <div style="width: 90%; margin: 0 auto">
            <p style="float: left"><b>SALDO ACTUAL:</b> <span> #006 </span></p>
            <p style="float: right"><b>NUMERO DE CUENTA:</b><span> #007 </span></p>
          </div>
          <div style="clear: both"></div>
    
          #body
    </div>

    <div>
      <img src="http://localhost:9016/carteo/utilies/#pie" alt="epker-firma" style="width: 100%" />
    </div>

    <div style="page-break-before: always">&nbsp;</div>
  </body>
</html>
