<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }
      body {
        margin: 0;
        font-size: 10px !important;
      }
      .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div id="contenido">
      <div class="container-fluid">
        <div style="text-align: center">
          <h1>JURIDICO EPKER</h1>
          <p>Despacho Juridico</p>
          <p>Toluca</p>
        </div>

        <div style="width: 95%; margin: 0 auto">
          <div style="float: left">
            <p><b>Sucursal: </b>#001</p>
            <p><b>Cuenta: </b>#002</p>
            <p><b>Nombre: </b>#003</p>
            <p><b>Domicilio: </b>#004</p>
            <p><b>Colonia: </b>#005</p>
            <p><b>Población: </b>#006</p>
            <p><b>Telefono: </b>#007</p>
            <p><b>Telefono 2: </b>#tel</p>
            <p><b>Dias Atraso: </b>#009</p>
          </div>

          <div style="float: right">
            <div style="text-align: center">
              <h2>TARJETON DE GESTION</h2>
              <p>"FINANCIERA CAME"</p>
            </div>
            <p><b>Codigo Postal: </b>#010</p>

            <div style="border: 1px solid black; padding: 3px">
              <div style="border: 1px solid black; padding: 3px">
                <p><b>Sucursal: </b>#011</p>
                <p><b>Mora Estatica: </b>#012</p>
                <p><b>Quita Grupal: </b>#013</p>
                <p><b>Credito por socio:</b>#014</p>
              </div>
            </div>
          </div>
          
          <p style="clear: both"></p>
        </div>

        <div>
          <img src="https://lh3.googleusercontent.com/pw/AM-JKLW-7IkfuQiVtzbOvxpBCBk3Hn5IIZr3Jyr_ZTb4hscTEOa_u1AA4KFomCV5cwUQ5IWkKhMVDpg882gmcPJ3mHHLFh4z5CoiLLnK65NE0NiBoOqZoV8B7WvwnTolxlOPGqBdrwI9lAZtYfklYZjxhl7K=w1158-h621-no?authuser=0" alt="epker-firma" style="width: 100%" />
        </div>
      </div>
    </div>

    <div style="page-break-before: always">&nbsp;</div>
  </body>
</html>
